.DS_Store
.atom/
.idea/
.packages
.dart_tool/
build/
packages
pubspec.lock
.pub/
.idea/libraries
.idea/workspace.xml
*.iml
build/
.cxx/
.vscode/
.fvm/

.test_coverage.dart
dart/coverage/*
logging/coverage/*
dio/coverage/*
file/coverage/*
flutter/coverage/*
sqflite/coverage/*
drift/coverage/*
hive/coverage/*
isar/coverage/*

pubspec.lock
Podfile.lock

.gradle
flutter/.gradle
