.DS_Store
.atom/
.idea/
.packages
.dart_tool/
build/
packages
pubspec.lock
.pub/
.idea/libraries
.idea/workspace.xml
*.iml
build/
.cxx/
.vscode/

.test_coverage.dart
**/coverage/*

pubspec.lock
Podfile.lock

.gradle
flutter/.gradle
