.DS_Store
.atom/
.idea/
.packages
.dart_tool/
build/
packages
pubspec.lock
.pub/
.idea/libraries
.idea/workspace.xml
*.iml
android/
ios/
build/
.cxx/


.test_coverage.dart
dart/coverage/*
pubspec.lock
