name: sentry_flutter_example
description: Demonstrates how to use the sentry_flutter plugin.
version: 6.12.1

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: '>=2.0.0'

dependencies:
  flutter:
    sdk: flutter
  sentry:
  sentry_flutter:
  sentry_dio:
  sentry_logging:
  universal_platform: ^1.0.0-nullsafety
  feedback: ^2.0.0
  provider: ^6.0.0
  dio: ^4.0.0
  logging: ^1.0.2

dev_dependencies:
  pedantic: ^1.11.1
  sentry_dart_plugin: ^1.0.0-alpha.4

dependency_overrides:
  sentry:
    path: ../../dart
  sentry_flutter:
    path: ../
  sentry_dio:
    path: ../../dio
  sentry_logging:
    path: ../../logging

flutter:
  uses-material-design: true
  assets:
    - assets/lorem-ipsum.txt
    - assets/sentry-wordmark.png

sentry:
  upload_native_symbols: false
  upload_source_maps: true
  project: sentry-flutter
  org: sentry-sdks
  log_level: error
  wait_for_processing: true
