name: sentry_flutter_example
description: Demonstrates how to use the sentry_flutter plugin.
version: 8.9.0

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

environment:
  sdk: '>=2.17.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter
  sentry:
  sentry_flutter:
  sentry_dio:
  sentry_logging:
  sentry_sqflite:
  sentry_file:
  sentry_hive:
  sentry_drift:
  sentry_isar:
  universal_platform: ^1.0.0
  feedback: ^2.0.0
  provider: ^6.0.0
  dio: any # This gets constrained by `sentry_dio`
  sqflite: any # This gets constrained by `sentry_sqflite`
  logging: any # This gets constrained by `sentry_logging`
  drift: any # This gets constrained by `sentry_drift`
  isar: any # This gets constrained by `sentry_isar`
  package_info_plus: ^4.0.0
  path_provider: ^2.0.0
  #sqflite_common_ffi: ^2.0.0
  #sqflite_common_ffi_web: ^0.3.0
  http: ^1.0.0
  hive: any  # This gets constrained by `sentry_hive`
  sqlite3_flutter_libs: ^0.5.0

dev_dependencies:
  flutter_lints: ^2.0.0
  sentry_dart_plugin: ^1.1.0
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter
  test: ^1.21.1
  build_runner: any

flutter:
  uses-material-design: true
  assets:
    - assets/lorem-ipsum.txt
    - assets/sentry-wordmark.png

sentry:
  upload_source_maps: true
  upload_sources: true
  project: sentry-flutter
  org: sentry-sdks
  wait_for_processing: true
  commits: true
  ignore_missing: true
  log_level: info
