name: sentry_flutter
version: 8.3.0
description: Sentry SDK for Flutter. This package aims to support different Flutter targets by relying on the many platforms supported by Sentry with native SDKs.
homepage: https://docs.sentry.io/platforms/flutter/
repository: https://github.com/getsentry/sentry-dart
issue_tracker: https://github.com/getsentry/sentry-dart/issues
documentation: https://docs.sentry.io/platforms/flutter/

environment:
  sdk: '>=2.17.0 <4.0.0'
  flutter: '>=3.0.0'

platforms:
  android:
  ios:
  macos:
  linux:
  windows:
  web:

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  sentry: 8.3.0
  package_info_plus: '>=1.0.0'
  meta: ^1.3.0
  ffi: ^2.0.0

dev_dependencies:
  build_runner: ^2.4.2
  flutter_test:
    sdk: flutter
  mockito: ^5.1.0
  yaml: ^3.1.0 # needed for version match (code and pubspec)
  flutter_lints: ^4.0.0
  collection: ^1.16.0
  remove_from_coverage: ^2.0.0
  flutter_localizations:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        pluginClass: SentryFlutterPlugin
        package: io.sentry.flutter
      ios:
        pluginClass: SentryFlutterPlugin
      macos:
        pluginClass: SentryFlutterPlugin
      web:
        pluginClass: SentryFlutterWeb
        fileName: sentry_flutter_web.dart
      linux:
        pluginClass: SentryFlutterPlugin
      windows:
        pluginClass: SentryFlutterPlugin
