name: sentry_flutter
version: 6.4.0-beta.1
description: Sentry SDK for Flutter. This package aims to support different Flutter targets by relying on the many platforms supported by Sentry with native SDKs.
homepage: https://docs.sentry.io/platforms/flutter/
repository: https://github.com/getsentry/sentry-dart
issue_tracker: https://github.com/getsentry/sentry-dart/issues

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: '>=1.17.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  sentry: ^6.4.0-beta.1
  package_info_plus: ^1.0.0

dev_dependencies:
  build_runner: ^2.1.7
  flutter_test:
    sdk: flutter
  mockito: ^5.0.0
  yaml: ^3.1.0 # needed for version match (code and pubspec)
  pedantic: ^1.11.1
  meta: ^1.3.0

dependency_overrides:
  sentry:
    path: ../dart

flutter:
  plugin:
    platforms:
      android:
        pluginClass: SentryFlutterPlugin
        package: io.sentry.flutter
      ios:
        pluginClass: SentryFlutterPlugin
      macos:
        pluginClass: SentryFlutterPlugin
      web:
        pluginClass: SentryFlutterWeb
        fileName: sentry_flutter_web.dart
      linux:
        pluginClass: SentryFlutterPlugin
      windows:
        pluginClass: SentryFlutterPlugin
