name: sentry_flutter
version: 4.0.0-alpha.3
description: Sentry SDK for Flutter. This package aims to support different Flutter targets by relying on the many platforms supported by Sentry with native SDKs.
homepage: https://docs.sentry.io/platforms/flutter/
repository: https://github.com/getsentry/sentry-dart

environment:
  sdk: ">=2.8.0 <3.0.0"
  flutter: ^1.17.0

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  sentry: #">=4.0.0-alpha.3 <4.1.0"
    # TODO: we need the specific version for publishing it, but the relative path for development.
    # Figure out how to do it via Craft for releases.
    path: ../dart
  package_info: ^0.4.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  mockito: ^4.1.1
  test: ^1.15.4

flutter:
  plugin:
    platforms:
      android:
        pluginClass: SentryFlutterPlugin
        package: io.sentry.flutter
      ios:
        pluginClass: SentryFlutterPlugin
      web:
        pluginClass: SentryFlutterWeb
        fileName: sentry_flutter_web.dart

