on:
  workflow_call:
    inputs:
      package:
        required: true
        type: string
      sdk:
        required: false
        type: string
        default: dart
      panaThreshold:
        description: Minumum percentage of Dart Package Analyzer score that must be achieved.
        required: false
        type: number
        default: 100

jobs:
  cancel-previous-workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@85880fa0301c86cca9da44039ee3bb12d3bedbfa # pin@0.12.1
        with:
          access_token: ${{ github.token }}

  analyze:
    if: ${{ !startsWith(github.ref, 'refs/heads/release/') }}
    runs-on: ubuntu-latest
    timeout-minutes: 20
    defaults:
      run:
        working-directory: ${{ inputs.package }}
    steps:
      - uses: actions/checkout@v4
      - uses: dart-lang/setup-dart@fedb1266e91cf51be2fdb382869461a434b920a3 # pin@v1
        if: ${{ inputs.sdk == 'dart' }}
      - uses: subosito/flutter-action@62f096cacda5168a3bd7b95793373be14fa4fbaf # pin@v2.13.0
        if: ${{ inputs.sdk == 'flutter' }}

      - run: ${{ inputs.sdk }} pub get
      - run: dart format ./
        
      - name: dart analyze
        uses: invertase/github-action-dart-analyzer@e981b01a458d0bab71ee5da182e5b26687b7101b # pin@v3.0.0
        with:
          annotate: true
          fatal-infos: true
          fatal-warnings: true
          annotate-only: false
          working-directory: ${{ inputs.package }}

      - run: dart doc --dry-run

      - uses: stefanzweifel/git-auto-commit-action@e040c596f0a65570b339c60818081175bcf82d11
        with:
          commit_user_name: 'Sentry Github Bot'
          commit_user_email: 'bot+github-bot@sentry.io'
          commit_message: Your commit message
          branch: ${{ github.head_ref }} # This is important for PRs coming from forks
          token: ${{ secrets.GITHUB_TOKEN }}

  package-analysis:
    # `axel-op/dart-package-analyzer` is using `flutter pub upgrade` instead of `get`,
    # which ignores pubspec.yaml `dependency_overrides`. Because of that, all `release/*` branches are failing,
    # because the package cannot find the "about to be released" version of our sentry-dart package that it depends on.
    if: ${{ !startsWith(github.ref, 'refs/heads/release/') && inputs.panaThreshold > 0 }}
    runs-on: ubuntu-20.04
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
      - name: Apply dependency override
        if: ${{ inputs.package == 'flutter' }}
        working-directory: ${{ inputs.package }}
        run: |
          sed -i.bak 's|sentry:.*|sentry:\n    path: /github/workspace/dart|g' pubspec.yaml
      - uses: axel-op/dart-package-analyzer@d9b13539ce28b8a2f85605379ce8670209d571e8 # pin@v3
        id: analysis
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          relativePath: ${{ inputs.package }}
      - name: Check scores
        env:
          TOTAL: ${{ steps.analysis.outputs.total }}
          TOTAL_MAX: ${{ steps.analysis.outputs.total_max }}
        run: |
          PERCENTAGE=$(( $TOTAL * 100 / $TOTAL_MAX ))
          if (( $PERCENTAGE < ${{ inputs.panaThreshold }} ))
          then
            echo Score too low!
            exit 1
          fi
