name: build
on:
  push:
    branches:
      - main
  pull_request:
defaults:
  run:
    shell: bash
jobs:
  build:
    name: ${{ matrix.target }} | ${{ matrix.os }} | ${{ matrix.channel }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      # max-parallel: 4
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        target: ['ios', 'android', 'web']
        channel: ['stable', 'beta']
        exclude:
          - os: ubuntu-latest
            target: ios
          - os: windows-latest
            target: ios
          # No web on stable yet
          - channel: stable
            target: web
    steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-java@v1
          with:
              java-version: '8'
        - uses: subosito/flutter-action@v1
          with:
            channel: ${{ matrix.channel }}
        - name: enable web
          if: matrix.target == 'web'
          run: flutter config --enable-web
        # https://github.com/flutter/flutter/issues/59522#issuecomment-646208247
        - name: Fix iOS build bug
          if: matrix.target == 'ios'
          run: rm example/ios/Podfile
        - name: Test
          run: flutter test
        - name: Build ${{ matrix.target }}
          env:
            SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          run: |
            cd example
            TARGET=${{ matrix.target }}
            case $TARGET in
            ios)
            flutter build ios --release --no-codesign
            ;;
            android)
            flutter build appbundle
            ;;
            web)
            flutter build web
            ;;
            esac
  package-analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: axel-op/dart-package-analyzer@v3
        id: analysis
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
      - name: Check scores
        env:
          TOTAL: ${{ steps.analysis.outputs.total }}
          TOTAL_MAX: ${{ steps.analysis.outputs.total_max }}
        # TODO: Once 1.0.0 lands, change to 100 
        run: |
          PERCENTAGE=$(( $TOTAL * 100 / $TOTAL_MAX ))
          if (( $PERCENTAGE < 95 ))
          then
            echo Score too low!
            exit 1
          fi
