name: sentry-dart
on:
  push:
    branches:
      - main
      - release/**
  pull_request:
    paths:
      - '!**/*.md'
      - '!**/class-diagram.svg'
      - '.github/workflows/dart.yml'
      - '.github/workflows/analyze.yml'
      - '.github/actions/dart-test/**'
      - '.github/actions/coverage/**'
      - 'packages/dart/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    name: '${{ matrix.os }} | ${{ matrix.sdk }}'
    runs-on: ${{ matrix.os }}-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu]
        sdk:
          - '3.5'
          - stable
          - beta
        include:
          - os: windows
            sdk: stable
          - os: macos
            sdk: stable
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6 # v2

      - uses: ./.github/actions/dart-test
        with:
          directory: packages/dart

      - uses: ./.github/actions/coverage
        if: runner.os == 'Linux' && matrix.sdk == 'stable'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: packages/dart
          coverage: sentry
          min-coverage: 85

      - name: Build example
        working-directory: packages/dart/example
        run: |
          dart pub get
          dart compile aot-snapshot bin/example.dart

  analyze:
    uses: ./.github/workflows/analyze.yml
    with:
      package: packages/dart
      panaThreshold: 87
