name: sentry-dart
on:
  push:
    branches:
      - main
      - release/**
  pull_request:
    paths-ignore:
      - "logging/**"
      - "dio/**"
defaults:
  run:
    shell: bash
jobs:
  build:
    name: Build ${{matrix.sdk}} on ${{matrix.os}}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    defaults:
      run:
        working-directory: ./dart
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        sdk: [stable, beta]
        exclude:
          - os: macos-latest
            sdk: beta
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@a40b8845c0683271d9f53dfcb887a7e181d3918b
        with:
          access_token: ${{ github.token }}

      - uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.sdk }}
      - uses: actions/checkout@v2
      # coverage with 'chrome' platform hangs the build
      - name: Test (VM and browser)
        if: runner.os != 'macOS'
        run: |
          dart pub get
          dart test -p chrome --test-randomize-ordering-seed=random --chain-stack-traces
          dart test -p vm --coverage=coverage --test-randomize-ordering-seed=random --chain-stack-traces
          dart pub run coverage:format_coverage --lcov --in=coverage --out=coverage/lcov.info --packages=.packages --report-on=lib

      - name: Install webdev
        run: dart pub global activate webdev

      - name: Build example
        run: |
          cd example
          dart pub get
          dart compile exe bin/example.dart

      # if condition because of: The pubspec.lock file has changed since the .dart_tool/package_config.json file was generated, please run "pub get" again.
      - name: Build Web example
        if: runner.os != 'Windows'
        run: |
          cd example_web
          dart pub get
          webdev build

      - uses: codecov/codecov-action@v2
        if: runner.os == 'Linux'
        with:
          name: sentry
          file: ./dart/coverage/lcov.info

      - uses: VeryGoodOpenSource/very_good_coverage@v1.2.0
        if: runner.os == 'Linux'
        with:
          path: "./dart/coverage/lcov.info"
          min_coverage: 85

  analyze:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    defaults:
      run:
        working-directory: ./dart
    steps:
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: stable
      - uses: actions/checkout@v2
      - run: |
          dart pub get
          dart analyze --fatal-infos
          dart format --set-exit-if-changed ./

  package-analysis:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v2
      - uses: axel-op/dart-package-analyzer@v3
        id: analysis
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          relativePath: dart/
      - name: Check scores
        env:
          TOTAL: ${{ steps.analysis.outputs.total }}
          TOTAL_MAX: ${{ steps.analysis.outputs.total_max }}
        run: |
          PERCENTAGE=$(( $TOTAL * 100 / $TOTAL_MAX ))
          if (( $PERCENTAGE < 90 ))
          then
            echo Score too low!
            exit 1
          fi
