name: sentry-dart
on:
  push:
    branches:
      - main
      - release/**
  pull_request:
    paths-ignore:
      - 'logging/**'
      - 'dio/**'

jobs:
  cancel-previous-workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@b173b6ec0100793626c2d9e6b90435061f4fc3e5 # pin@0.11.0
        with:
          access_token: ${{ github.token }}

  build:
    name: Build ${{matrix.sdk}} on ${{matrix.os}}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    defaults:
      run:
        shell: bash
        working-directory: ./dart
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        sdk: [stable, beta]
        exclude:
          - os: macos-latest
            sdk: beta
    steps:
      - uses: dart-lang/setup-dart@6a218f2413a3e78e9087f638a238f6b40893203d # pin@v1
        with:
          sdk: ${{ matrix.sdk }}
      - uses: actions/checkout@v3
      # coverage with 'chrome' platform hangs the build
      - name: Test (VM and browser)
        if: runner.os != 'macOS'
        run: |
          dart pub get
          dart test -p chrome --test-randomize-ordering-seed=random --chain-stack-traces
          dart test -p vm --coverage=coverage --test-randomize-ordering-seed=random --chain-stack-traces
          dart pub run coverage:format_coverage --lcov --in=coverage --out=coverage/lcov.info --packages=.dart_tool/package_config.json --report-on=lib

      - name: Install webdev
        run: dart pub global activate webdev

      - name: Build example
        run: |
          cd example
          dart pub get
          dart compile exe bin/example.dart

      # Windows if condition because of: The pubspec.lock file has changed since the .dart_tool/package_config.json file was generated, please run "pub get" again.
      # stable if condition because of: beta channel requires newer build_web_compilers and build_runner with Dart 3
      - name: Build Web example
        if: runner.os != 'Windows' && matrix.sdk == 'stable'
        run: |
          cd example_web
          dart pub get
          webdev build

      - uses: codecov/codecov-action@d9f34f8cd5cb3b3eb79b3e4b5dae3a16df499a70 # pin@v3
        if: runner.os == 'Linux' && matrix.sdk == 'stable'
        with:
          name: sentry
          files: ./dart/coverage/lcov.info

      - uses: VeryGoodOpenSource/very_good_coverage@84e5b54ab888644554e5573dca87d7f76dec9fb3 # pin@v2.0.0
        if: runner.os == 'Linux' && matrix.sdk == 'stable'
        with:
          path: './dart/coverage/lcov.info'
          min_coverage: 85

  analyze:
    uses: ./.github/workflows/analyze.yml
    with:
      package: dart
