name: diagrams
on:
  workflow_dispatch:

jobs:
  diagrams:
    runs-on: ubuntu-latest
    name: "Create class diagrams of all packages"
    steps:
      - uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c # pin@v1
        with:
          sdk: stable

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6 # v2

      - name: dependencies
        run: |
          dart pub global activate lakos
          sudo apt update
          sudo apt install graphviz

      - name: dart
        working-directory: ./packages/dart
        run: lakos . -i "{test/**,example/**,example_web/**}" | dot -Tsvg -o class-diagram.svg

      - name: flutter
        working-directory: ./packages/flutter
        run: lakos . -i "{test/**,example/**}" | dot -Tsvg -o class-diagram.svg

      - name: dio
        working-directory: ./packages/dio
        run: lakos . -i "{test/**,example/**}" | dot -Tsvg -o class-diagram.svg

      - name: file
        working-directory: ./packages/file
        run: lakos . -i "{test/**,example/**}" | dot -Tsvg -o class-diagram.svg

      - name: sqflite
        working-directory: ./packages/sqflite
        run: lakos . -i "{test/**,example/**}" | dot -Tsvg -o class-diagram.svg

      - name: logging
        working-directory: ./packages/logging
        run: lakos . -i "{test/**,example/**}" | dot -Tsvg -o class-diagram.svg

      - name: hive
        working-directory: ./packages/hive
        run: lakos . -i "{test/**,example/**}" | dot -Tsvg -o class-diagram.svg

      - name: isar
        working-directory: ./packages/isar
        run: lakos . -i "{test/**,example/**}" | dot -Tsvg -o class-diagram.svg

      - name: link
        working-directory: ./packages/link
        run: lakos . -i "{test/**,example/**}" | dot -Tsvg -o class-diagram.svg

      - name: firebase_remote_config
        working-directory: ./packages/firebase_remote_config
        run: lakos . -i "{test/**,example/**}" | dot -Tsvg -o class-diagram.svg

      - name: supabase
        working-directory: ./packages/supabase
        run: lakos . -i "{test/**,example/**}" | dot -Tsvg -o class-diagram.svg

        # Source: https://stackoverflow.com/a/58035262
      - name: Extract branch name
        shell: bash
        run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: extract_branch

        # actions/checkout fetches only a single commit in a detached HEAD state. Therefore
        # we need to pass the current branch, otherwise we can't commit the changes.
        # GITHUB_HEAD_REF is the name of the head branch. GitHub Actions only sets this for PRs.
      - name: Commit & push
        run: ./scripts/commit-code.sh "$BRANCH_NAME" "Update class diagrams"
        env:
          BRANCH_NAME: ${{ steps.extract_branch.outputs.branch }}
