name: sentry-dio
on:
  push:
    branches:
      - main
      - release/**
  pull_request:
    paths-ignore:
      - "**/*.md"
      - "logging/**"
      - "flutter/**"
      - "file/**"
      - "sqflite/**"
      - "hive/**"

jobs:
  cancel-previous-workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@01ce38bf961b4e243a6342cbade0dbc8ba3f0432 # pin@0.12.0
        with:
          access_token: ${{ github.token }}

  build:
    name: Build ${{matrix.sdk}} on ${{matrix.os}}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    defaults:
      run:
        shell: bash
        working-directory: ./dio
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        sdk: [stable, beta]
        exclude:
          - os: windows-latest
            sdk: beta
          - os: macos-latest
            sdk: beta
    steps:
      - uses: dart-lang/setup-dart@b64355ae6ca0b5d484f0106a033dd1388965d06d # pin@v1
        with:
          sdk: ${{ matrix.sdk }}
      - uses: actions/checkout@v4

      - name: Test (VM and browser)
        run: |
          dart pub get
          dart test -p chrome --test-randomize-ordering-seed=random --chain-stack-traces
          dart test -p vm --coverage=coverage --test-randomize-ordering-seed=random --chain-stack-traces
          dart pub run coverage:format_coverage --lcov --in=coverage --out=coverage/lcov.info --packages=.dart_tool/package_config.json --report-on=lib

      - uses: codecov/codecov-action@eaaf4bedf32dbdc6b720b63067d99c4d77d6047d # pin@v3
        if: runner.os == 'Linux' && matrix.sdk == 'stable'
        with:
          name: sentry_dio
          files: ./dio/coverage/lcov.info

      - uses: VeryGoodOpenSource/very_good_coverage@e5c91bc7ce9843e87c800b3bcafdfb86fbe28491 # pin@v2.1.0
        if: runner.os == 'Linux' && matrix.sdk == 'stable'
        with:
          path: "./dio/coverage/lcov.info"
          min_coverage: 81

  analyze:
    uses: ./.github/workflows/analyze.yml
    with:
      package: dio
