name: sentry-drift
on:
  push:
    branches:
      - main
      - release/**
  pull_request:
    paths:
      - "!**/*.md"
      - "!**/class-diagram.svg"
      - ".github/workflows/drift.yml"
      - "dart/**"
      - "drift/**"

jobs:
  cancel-previous-workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@85880fa0301c86cca9da44039ee3bb12d3bedbfa # pin@0.12.1
        with:
          access_token: ${{ github.token }}

  build:
    name: ${{ matrix.target }} | ${{ matrix.os }} | ${{ matrix.sdk }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        target: ["ios", "android", "macos", "linux", "windows"]
        sdk: ["stable", "beta"]
        exclude:
          - os: ubuntu-latest
            target: ios
          - os: ubuntu-latest
            target: macos
          - os: ubuntu-latest
            target: windows
          - os: windows-latest
            target: ios
          - os: windows-latest
            target: android
          - os: windows-latest
            target: macos
          - os: windows-latest
            target: linux
          # macos-latest is taking hours due to limited resources
          - os: macos-latest
            target: android
          - os: macos-latest
            target: linux
          - os: macos-latest
            target: windows
          # Bad CPU type in executable
          - os: macos-latest
            sdk: beta
            # Exclude beta for windows for now until the flutter set up action does not fail anymore
          - os: windows-latest
            sdk: beta

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        if: ${{ matrix.target == 'android' }}
        with:
          java-version: "11"
          distribution: "adopt"

      # Install required dependencies for Flutter on Linux on Ubuntu
      - name: "Setup Linux"
        run: |
          sudo apt update
          sudo apt install -y cmake dbus libblkid-dev libgtk-3-dev liblzma-dev ninja-build pkg-config xvfb
          sudo apt install -y network-manager upower
        if: matrix.os == 'ubuntu-latest' && matrix.target == 'linux'

      - uses: subosito/flutter-action@44ac965b96f18d999802d4b807e3256d5a3f9fa1 # pin@v2.16.0
        with:
          channel: ${{ matrix.sdk }}

      - run: flutter upgrade

      - name: Pub Get
        run: |
          cd drift
          flutter pub get

      - name: Test VM with coverage
        run: |
          cd drift
          flutter test --coverage --test-randomize-ordering-seed=random

      - uses: codecov/codecov-action@e28ff129e5465c2c0dcc6f003fc735cb6ae0c673 # pin@v3
        if: runner.os == 'Linux' && matrix.sdk == 'stable' && matrix.target == 'linux'
        with:
          name: sentry_drift
          file: ./drift/coverage/lcov.info
          functionalities: "search" # remove after https://github.com/codecov/codecov-action/issues/600
          token: ${{ secrets.CODECOV_TOKEN }}

      - uses: VeryGoodOpenSource/very_good_coverage@c953fca3e24a915e111cc6f55f03f756dcb3964c # pin@v3.0.0
        if: runner.os == 'Linux' && matrix.sdk == 'stable' && matrix.target == 'linux'
        with:
          path: "./drift/coverage/lcov.info"
          min_coverage: 80

  analyze:
    uses: ./.github/workflows/analyze.yml
    with:
      package: drift
      sdk: flutter