name: sentry-drift
on:
  push:
    branches:
      - main
      - release/**
  pull_request:
    paths:
      - '!**/*.md'
      - '!**/class-diagram.svg'
      - '.github/workflows/drift.yml'
      - '.github/workflows/analyze.yml'
      - '.github/actions/dart-test/**'
      - '.github/actions/coverage/**'
      - 'packages/dart/**'
      - 'packages/drift/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    name: '${{ matrix.os }} | ${{ matrix.sdk }}'
    runs-on: ${{ matrix.os }}-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, macos, windows]
        sdk: [stable, beta]

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6 # v2

      - name: Install libsqlite3 (Ubuntu)
        if: matrix.os == 'ubuntu'
        run: sudo apt-get -y install libsqlite3-dev

      - name: Install SQLite (macOS)
        if: matrix.os == 'macos'
        run: brew install sqlite3

      - name: Install SQLite (Windows)
        if: matrix.os == 'windows'
        shell: powershell
        run: |
          choco install sqlite -y
          echo "C:/ProgramData/chocolatey/lib/sqlite/tools" >> $GITHUB_PATH

      - uses: ./.github/actions/dart-test
        with:
          directory: packages/drift
          web: 'false'

      - uses: ./.github/actions/coverage
        if: matrix.os == 'ubuntu' && matrix.sdk == 'stable'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: packages/drift
          coverage: sentry_drift
          min-coverage: 80

  analyze:
    uses: ./.github/workflows/analyze.yml
    with:
      package: packages/drift
