name: e2e-sentry-dart
on:
  push:
    branches:
      - main
      - release/**
  pull_request:
    paths-ignore:
      - "**/*.md"
      - "logging/**"
      - "dio/**"
      - "flutter/**"
      - "file/**"
      - "sqflite/**"
      - "drift/**"

env:
  SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
  SENTRY_DIST: 1

jobs:
  cancel-previous-workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@01ce38bf961b4e243a6342cbade0dbc8ba3f0432 # pin@0.12.0
        with:
          access_token: ${{ github.token }}

  build:
    name: E2E
    runs-on: "ubuntu-latest"
    timeout-minutes: 30
    defaults:
      run:
        working-directory: ./e2e_test
    strategy:
      fail-fast: false
      matrix:
        sdk: [stable, beta]
    steps:
      - uses: dart-lang/setup-dart@b64355ae6ca0b5d484f0106a033dd1388965d06d # pin@v1
        with:
          sdk: ${{ matrix.sdk }}
      - uses: actions/checkout@v4
      - name: Run
        if: env.SENTRY_AUTH_TOKEN != null
        run: |
          dart pub get
          dart run --define=SENTRY_ENVIRONMENT=e2e

  analyze:
    uses: ./.github/workflows/analyze.yml
    with:
      package: e2e_test
      panaThreshold: 0
