name: e2e-sentry-dart
on:
  push:
    branches:
      - main
      - release/**
  pull_request:

env:
  SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
  SENTRY_DIST: 1

jobs:
  build:
    name: E2E
    runs-on: 'ubuntu-latest'
    defaults:
      run:
        working-directory: ./e2e_test
    strategy:
      fail-fast: false
      matrix:
        sdk: [stable, beta]
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@a40b8845c0683271d9f53dfcb887a7e181d3918b
        with:
          access_token: ${{ github.token }}

        - uses: dart-lang/setup-dart@v1
          with:
            sdk: ${{ matrix.sdk }}
        - uses: actions/checkout@v2
        - name: Test
          run: |
            dart pub get
            dart analyze --fatal-infos
            dart format --set-exit-if-changed ./
        - name: Run
          if: env.SENTRY_AUTH_TOKEN != null
          run: |
            dart run --define=SENTRY_ENVIRONMENT=e2e
