name: sentry-file
on:
  push:
    branches:
      - main
      - release/**
  pull_request:
    paths-ignore:
      - "**/*.md"
      - "logging/**"
      - "flutter/**"
      - "dio/**"
      - "sqflite/**"
      - "hive/**"

jobs:
  cancel-previous-workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@b173b6ec0100793626c2d9e6b90435061f4fc3e5 # pin@0.11.0
        with:
          access_token: ${{ github.token }}

  build:
    name: Build ${{matrix.sdk}} on ${{matrix.os}}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    defaults:
      run:
        shell: bash
        working-directory: ./file
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        sdk: [stable, beta]
        exclude:
          - os: windows-latest
            sdk: beta
          - os: macos-latest
            sdk: beta
    steps:
      - uses: dart-lang/setup-dart@6a218f2413a3e78e9087f638a238f6b40893203d # pin@v1
        with:
          sdk: ${{ matrix.sdk }}
      - uses: actions/checkout@v3

      - name: Test VM
        run: |
          dart pub get
          dart test -p vm --coverage=coverage --test-randomize-ordering-seed=random --chain-stack-traces
          dart pub run coverage:format_coverage --lcov --in=coverage --out=coverage/lcov.info --packages=.dart_tool/package_config.json --report-on=lib

      - uses: codecov/codecov-action@d9f34f8cd5cb3b3eb79b3e4b5dae3a16df499a70 # pin@v3
        if: runner.os == 'Linux' && matrix.sdk == 'stable'
        with:
          name: sentry_file
          files: ./file/coverage/lcov.info

      - uses: VeryGoodOpenSource/very_good_coverage@e5c91bc7ce9843e87c800b3bcafdfb86fbe28491 # pin@v2.1.0
        if: runner.os == 'Linux' && matrix.sdk == 'stable'
        with:
          path: "./file/coverage/lcov.info"
          min_coverage: 55

  analyze:
    uses: ./.github/workflows/analyze.yml
    with:
      package: file
      panaThreshold: 90
