name: sentry-flutter
on:
  push:
    branches:
      - main
  pull_request:
defaults:
  run:
    shell: bash
jobs:
  build:
    name: ${{ matrix.target }} | ${{ matrix.os }} | ${{ matrix.channel }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      # max-parallel: 4
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        target: ['ios', 'android', 'web']
        channel: ['stable', 'beta']
        exclude:
          - os: ubuntu-latest
            target: ios
          - os: windows-latest
            target: ios
          # No web on stable yet
          - channel: stable
            target: web
          # macos-latest is taking hours due to limited resources
          - os: macos-latest
            target: android
          - os: macos-latest
            target: web

    steps:
        - uses: actions/checkout@v2

        - uses: actions/setup-java@v1
          with:
            java-version: '8'

        - uses: subosito/flutter-action@v1
          with:
            channel: ${{ matrix.channel }}

        - name: enable web
          if: matrix.target == 'web'
          run: flutter config --enable-web

        # https://github.com/flutter/flutter/issues/59522#issuecomment-646208247
        - name: Fix iOS build bug
          if: matrix.target == 'ios'
          run: rm flutter/example/ios/Podfile

        - name: Test
          run: |
            cd flutter
            flutter pub get
            flutter test --coverage

        - uses: codecov/codecov-action@v1
          if: runner.os == 'Linux'
          with:
            name: sentry_flutter
            file: ./flutter/coverage/lcov.info

        - name: Build ${{ matrix.target }}
          env:
            SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          run: |
            cd flutter/example
            TARGET=${{ matrix.target }}
            case $TARGET in
            ios)
            flutter build ios --release --no-codesign
            ;;
            android)
            flutter build appbundle --release
            ;;
            web)
            flutter build web
            ;;
            esac

  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
        with:
          channel: 'beta'
      - run: |
          cd flutter
          flutter pub get
          flutter format -n --set-exit-if-changed ./
          flutter analyze

  package-analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: axel-op/dart-package-analyzer@v3
        id: analysis
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          relativePath: flutter/
      - name: Check scores
        env:
          TOTAL: ${{ steps.analysis.outputs.total }}
          TOTAL_MAX: ${{ steps.analysis.outputs.total_max }}
        # PERCENTAGE=90 due to 'pana' dependencies score when using 'dependency_overrides'
        run: |
          PERCENTAGE=$(( $TOTAL * 100 / $TOTAL_MAX ))
          if (( $PERCENTAGE < 90 ))
          then
            echo Score too low!
            exit 1
          fi

  pod-lint:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      # https://github.com/CocoaPods/CocoaPods/issues/5275#issuecomment-315461879
      - run: pod lib lint flutter/ios/sentry_flutter.podspec --skip-import-validation --allow-warnings

  swift-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: norio-nomura/action-swiftlint@3.2.1

  ktlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '8'
      - run: |
          curl -sSLO https://github.com/pinterest/ktlint/releases/download/0.40.0/ktlint
          chmod a+x ktlint
          ./ktlint --reporter=checkstyle,output=build/ktlint-report.xml || true
      - uses: yutailang0119/action-ktlint@v1
        with:
          xml_path: build/ktlint-report.xml

  detekt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: natiginfo/action-detekt-all@1.15.0-RC1
        with:
          args: -i flutter --baseline flutter/config/detekt-bl.xml
