name: flutter integration tests
on:
  # Currently broken, enable after fixing
  workflow_dispatch
  # push:
  #   branches:
  #     - main
  #     - release/**
  # pull_request:
  #   paths-ignore:
#     - 'file/**'

jobs:
  cancel-previous-workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@85880fa0301c86cca9da44039ee3bb12d3bedbfa # pin@0.12.1
        with:
          access_token: ${{ github.token }}

  test-android:
    runs-on: macos-latest
    timeout-minutes: 30
    defaults:
      run:
        working-directory: ./flutter/example
    strategy:
      fail-fast: false
      matrix:
        sdk: [ "stable", "beta" ]
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: "adopt"
          java-version: "11"

      - uses: subosito/flutter-action@44ac965b96f18d999802d4b807e3256d5a3f9fa1 # pin@v2.16.0
        with:
          channel: ${{ matrix.sdk }}

      - name: flutter upgrade
        run: flutter upgrade

      - name: flutter pub get
        run: flutter pub get

      - name: Gradle cache
        uses: gradle/gradle-build-action@66535aaf56f831b35e3a8481c9c99b665b84dd45 # pin@v3.4.2

      - name: AVD cache
        uses: actions/cache@v4
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
            key: avd-21

      - name: create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@77986be26589807b8ebab3fde7bbf5c60dabec32 #pin@v2.31.0
        with:
          working-directory: ./flutter/example
          api-level: 21
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          arch: x86_64
          profile: Nexus 6
          script: echo 'Generated AVD snapshot for caching.'

      - name: launch android emulator & run android integration test
        uses: reactivecircus/android-emulator-runner@77986be26589807b8ebab3fde7bbf5c60dabec32 #pin@v2.31.0
        with:
          working-directory: ./flutter/example
          api-level: 21
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          arch: x86_64
          profile: Nexus 6
          script: flutter test integration_test/integration_test.dart --verbose

  test-ios:
    runs-on: macos-13
    timeout-minutes: 30
    defaults:
      run:
        working-directory: ./flutter/example
    strategy:
      fail-fast: false
      matrix:
        # 'beta' is flaky because of https://github.com/flutter/flutter/issues/124340
        sdk: [ "stable" ]
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - uses: subosito/flutter-action@44ac965b96f18d999802d4b807e3256d5a3f9fa1 # pin@v2.16.0
        with:
          channel: ${{ matrix.sdk }}

      - name: flutter upgrade
        run: flutter upgrade

      - name: flutter pub get
        run: flutter pub get

      - name: launch ios simulator
        run: |
          simulator_id=$(xcrun simctl create sentryPhone com.apple.CoreSimulator.SimDeviceType.iPhone-14 com.apple.CoreSimulator.SimRuntime.iOS-16-2)
          xcrun simctl boot ${simulator_id}

      - name: run ios integration test
        run: flutter test integration_test/integration_test.dart --verbose
