name: sentry-flutter
on:
  push:
    branches:
      - main
      - release/**
  pull_request:
    paths:
      - ".github/workflows/flutter.yml"
      - "!**/*.md"
      - "!**/class-diagram.svg"
      - "dart/**"
      - "flutter/**"
      - "metrics/flutter.properties"

jobs:
  cancel-previous-workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@85880fa0301c86cca9da44039ee3bb12d3bedbfa # pin@0.12.1
        with:
          access_token: ${{ github.token }}

  build:
    name: "${{ matrix.target }} | ${{ matrix.os }} | ${{ matrix.sdk }}"
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        target: ["ios", "android", "web", "macos", "linux", "windows"]
        sdk: ["stable", "beta"]
        exclude:
          - os: ubuntu-latest
            target: ios
          - os: ubuntu-latest
            target: macos
          - os: ubuntu-latest
            target: windows
          - os: windows-latest
            target: ios
          - os: windows-latest
            target: android
          - os: windows-latest
            target: web
          - os: windows-latest
            target: macos
          - os: windows-latest
            target: linux
          # macos-latest is taking hours due to limited resources
          - os: macos-latest
            target: android
          - os: macos-latest
            target: web
          - os: macos-latest
            target: linux
          - os: macos-latest
            target: windows
          # Bad CPU type in executable
          - os: macos-latest
            sdk: beta

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        if: ${{ matrix.target == 'android' }}
        with:
          java-version: "11"
          distribution: "adopt"

      # Install required dependencies for Flutter on Linux on Ubuntu
      - name: "Setup Linux"
        run: |
          sudo apt update
          sudo apt install -y cmake dbus libblkid-dev libgtk-3-dev liblzma-dev ninja-build pkg-config xvfb
          sudo apt install -y network-manager upower
        if: matrix.os == 'ubuntu-latest' && matrix.target == 'linux'

      - uses: subosito/flutter-action@3d804929922b667a63a229bc59037807f969e885 # pin@v2.15.0
        with:
          channel: ${{ matrix.sdk }}

      - run: flutter upgrade

      - name: Pub Get
        run: |
          cd flutter
          flutter pub get

      - name: Test chrome (exclude canvasKit)
        if: runner.os == 'Linux'
        run: |
          cd flutter
          flutter test --platform chrome --test-randomize-ordering-seed=random --exclude-tags canvasKit

      # TODO: Revert when canvasKit is available again in `beta` channel
      - name: Test chrome (canvasKit)
        if: runner.os == 'Linux' && matrix.sdk != 'beta'
        run: |
          cd flutter
          flutter test --platform chrome --test-randomize-ordering-seed=random --tags canvasKit --web-renderer canvaskit

      - name: Test VM with coverage
        run: |
          cd flutter
          flutter test --coverage --test-randomize-ordering-seed=random
          dart run remove_from_coverage -f coverage/lcov.info -r 'binding.dart'

      - uses: codecov/codecov-action@54bcd8715eee62d40e33596ef5e8f0f48dbbccab # pin@v3
        if: runner.os == 'Linux' && matrix.sdk == 'stable' && matrix.target == 'linux'
        with:
          name: sentry_flutter
          file: ./flutter/coverage/lcov.info
          functionalities: "search" # remove after https://github.com/codecov/codecov-action/issues/600

      - uses: VeryGoodOpenSource/very_good_coverage@c953fca3e24a915e111cc6f55f03f756dcb3964c # pin@v3.0.0
        if: runner.os == 'Linux' && matrix.sdk == 'stable' && matrix.target == 'linux'
        with:
          path: "./flutter/coverage/lcov.info"
          min_coverage: 90
          exclude: "lib/src/native/cocoa/binding.dart"

      - name: Build ${{ matrix.target }}
        run: |
          flutter config --enable-windows-desktop
          flutter config --enable-macos-desktop
          flutter config --enable-linux-desktop
          cd flutter/example
          TARGET=${{ matrix.target }}
          flutter pub get
          case $TARGET in
          ios)
          flutter build ios --no-codesign
          ;;
          macos)
          flutter build macos
          ;;
          android)
          flutter build appbundle
          ;;
          web)
          flutter build web
          ;;
          linux)
          flutter build linux
          ;;
          windows)
          flutter build windows
          ;;
          esac

  analyze:
    uses: ./.github/workflows/analyze.yml
    with:
      package: flutter
      sdk: flutter

  pod-lint:
    runs-on: macos-latest
    timeout-minutes: 20
    defaults:
      run:
        working-directory: ./flutter
    steps:
      - uses: actions/checkout@v4
      # https://github.com/CocoaPods/CocoaPods/issues/5275#issuecomment-315461879
      - run: pod lib lint ios/sentry_flutter.podspec --configuration=Debug --skip-import-validation --allow-warnings --verbose

  swift-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    defaults:
      run:
        working-directory: ./flutter
    steps:
      - uses: actions/checkout@v4
      - uses: norio-nomura/action-swiftlint@9f4dcd7fd46b4e75d7935cf2f4df406d5cae3684 # pin@3.2.1
        with:
          args: --strict

  ktlint:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    defaults:
      run:
        working-directory: ./flutter
    steps:
      - uses: actions/checkout@v4

      - name: ktlint
        uses: ScaCap/action-ktlint@38262d0fb8bff43ddafc8b3c04bce6e6c7263319 # pin@1.8.1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          android: true
          fail_on_error: true

  detekt:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
      # To recreate baseline run: detekt -i flutter/android,flutter/example/android -b flutter/config/detekt-bl.xml -cb
      - uses: natiginfo/action-detekt-all@60495f27089d3432d83335c1f14e46ba61de5637 # pin@1.23.5
        with:
          args: -i flutter/android,flutter/example/android --baseline flutter/config/detekt-bl.xml --jvm-target 1.8 --build-upon-default-config --all-rules
