name: sentry-hive
on:
  push:
    branches:
      - main
      - release/**
  pull_request:
    paths:
      - '!**/*.md'
      - '!**/class-diagram.svg'
      - '.github/workflows/hive.yml'
      - '.github/workflows/analyze.yml'
      - '.github/actions/dart-test/**'
      - '.github/actions/coverage/**'
      - 'packages/dart/**'
      - 'packages/hive/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    name: '${{ matrix.os }} | ${{ matrix.sdk }}'
    runs-on: ${{ matrix.os }}-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os: [macos, ubuntu, windows]
        sdk: [stable, beta]

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6 # v2

      - uses: ./.github/actions/dart-test
        with:
          directory: packages/hive
          web: false

      - uses: ./.github/actions/coverage
        if: runner.os == 'Linux' && matrix.sdk == 'stable'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: packages/hive
          coverage: sentry_hive
          min-coverage: 55

  analyze:
    uses: ./.github/workflows/analyze.yml
    with:
      package: packages/hive
      panaThreshold: 90
