name: min version test
on:
  push:
    branches:
      - main
      - release/**
  pull_request:
    paths:
      - '!**/*.md'
      - '!**/class-diagram.svg'
      - '.github/workflows/min_version_test.yml'
      - 'packages/dart/**'
      - 'packages/flutter/**'
      - 'min_version_test/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build-android:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-java@v5
        with:
          distribution: 'adopt'
          java-version: '17'

      - uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # pin@v2.21.0
        with:
          flutter-version: '3.24.0'

      - name: Build Android
        run: |
          cd min_version_test
          flutter pub get
          flutter build appbundle

  build-ios:
    runs-on: macos-15
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v5

      - uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # pin@v2.21.0
        with:
          flutter-version: '3.24.0'

      - uses: ruby/setup-ruby@ac793fdd38cc468a4dd57246fa9d0e868aba9085 # pin@v1.270.0
        with:
          ruby-version: '3.1.2' # https://github.com/flutter/flutter/issues/109385#issuecomment-1212614125

      - name: Uninstall existing CocoaPods and install globally
        run: |
          gem uninstall cocoapods -a
          sudo gem install cocoapods
          echo "$(which pod)"

      # QuickFix for failing iOS 18.0 builds https://github.com/actions/runner-images/issues/12758#issuecomment-3187115656
      - name: Switch to Xcode 16.4 for iOS 18.5
        run: sudo xcode-select --switch /Applications/Xcode_16.4.app

      - name: Build iOS
        run: |
          cd min_version_test
          flutter pub get
          cd ios
          pod repo update
          pod install
          cd ..
          flutter build ios --no-codesign

  build-web:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v5

      - uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # pin@v2.21.0
        with:
          flutter-version: '3.24.0'

      - name: Build web
        run: |
          cd min_version_test
          flutter pub get
          flutter build web --source-maps
