name: flutter min version test
on:
  push:
    branches:
      - main
      - release/**
  pull_request:
    paths-ignore:
      - 'logging/**'
      - 'dio/**'
defaults:
  run:
    shell: bash
jobs:
  build:
    name: Build
    runs-on: macos-latest
    timeout-minutes: 30

    steps:
        - uses: actions/checkout@v3

        - uses: actions/setup-java@v3
          with:
            distribution: 'adopt'
            java-version: '11'

        - uses: subosito/flutter-action@v2
          with:
            flutter-version: '2.0.0'

        - name: Build
          run: |
            cd min_version_test
            flutter pub get
            flutter build ios --no-codesign
            flutter build appbundle
