name: min version test
on:
  push:
    branches:
      - main
      - release/**
  pull_request:
    paths-ignore:
      - "**/*.md"
      - "file/**"
      - "sqflite/**"
      - "drift/**"

jobs:
  cancel-previous-workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@01ce38bf961b4e243a6342cbade0dbc8ba3f0432 # pin@0.12.0
        with:
          access_token: ${{ github.token }}

  build-android:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v3
        with:
          distribution: "adopt"
          java-version: "11"

      - uses: subosito/flutter-action@2783a3f08e1baf891508463f8c6653c258246225 # pin@v2.12.0
        with:
          flutter-version: "3.0.0"

      - name: Build Android
        run: |
          cd min_version_test
          flutter pub get
          flutter build appbundle

  build-ios:
    runs-on: macos-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@2783a3f08e1baf891508463f8c6653c258246225 # pin@v2.12.0
        with:
          flutter-version: "3.0.0"

      - name: Build iOS
        run: |
          cd min_version_test
          flutter pub get
          flutter build ios --no-codesign

  build-web:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@2783a3f08e1baf891508463f8c6653c258246225 # pin@v2.12.0
        with:
          flutter-version: "3.0.0"

      - name: Build web
        run: |
          cd min_version_test
          flutter pub get
          flutter build web --source-maps
