name: sentry-sqflite
on:
  push:
    branches:
      - main
      - release/**
  pull_request:
    paths-ignore:
      - 'logging/**'
      - 'flutter/**'
      - 'dio/**'
      - 'file/**'

jobs:
  cancel-previous-workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@b173b6ec0100793626c2d9e6b90435061f4fc3e5 # pin@0.11.0
        with:
          access_token: ${{ github.token }}

  build:
    name: ${{ matrix.target }} | ${{ matrix.os }} | ${{ matrix.sdk }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      # max-parallel: 4
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        target: ['ios', 'android', 'macos', 'linux', 'windows']
        sdk: ['stable', 'beta']
        exclude:
          - os: ubuntu-latest
            target: ios
          - os: ubuntu-latest
            target: macos
          - os: ubuntu-latest
            target: windows
          - os: windows-latest
            target: ios
          - os: windows-latest
            target: macos
          - os: windows-latest
            target: linux
          # macos-latest is taking hours due to limited resources
          - os: macos-latest
            target: android
          - os: macos-latest
            target: web
          - os: macos-latest
            target: linux
          - os: macos-latest
            target: windows
          # Bad CPU type in executable
          - os: macos-latest
            sdk: beta

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        if: ${{ matrix.target == 'android' }}
        with:
          java-version: '11'
          distribution: 'adopt'

      # Install required dependencies for Flutter on Linux on Ubuntu
      - name: 'Setup Linux'
        run: |
          sudo apt update
          sudo apt install -y cmake dbus libblkid-dev libgtk-3-dev liblzma-dev ninja-build pkg-config xvfb
          sudo apt install -y network-manager upower
        if: matrix.os == 'ubuntu-latest'

      - uses: subosito/flutter-action@48cafc24713cca54bbe03cdc3a423187d413aafa # pin@v2.10.0
        with:
          channel: ${{ matrix.sdk }}

      - run: flutter upgrade

      - name: Pub Get
        run: |
          cd sqflite
          flutter pub get

      - name: Test VM with coverage
        if: runner.os != 'macOS'
        run: |
          cd sqflite
          flutter test --coverage --test-randomize-ordering-seed=random

      - uses: codecov/codecov-action@d9f34f8cd5cb3b3eb79b3e4b5dae3a16df499a70 # pin@v3
        if: runner.os == 'Linux' && matrix.sdk == 'stable' && matrix.target == 'linux'
        with:
          name: sentry_sqflite
          file: ./sqflite/coverage/lcov.info
          functionalities: 'search' # remove after https://github.com/codecov/codecov-action/issues/600

      - uses: VeryGoodOpenSource/very_good_coverage@84e5b54ab888644554e5573dca87d7f76dec9fb3 # pin@v2.0.0
        if: runner.os == 'Linux' && matrix.sdk == 'stable' && matrix.target == 'linux'
        with:
          path: './sqflite/coverage/lcov.info'
          min_coverage: 80

  analyze:
    uses: ./.github/workflows/analyze.yml
    with:
      package: sqflite
      sdk: flutter
