name: sentry-sqflite
on:
  push:
    branches:
      - main
      - release/**
  pull_request:
    paths:
      - '!**/*.md'
      - '!**/class-diagram.svg'
      - '.github/workflows/logging.yml'
      - '.github/workflows/analyze.yml'
      - '.github/actions/flutter-test/**'
      - '.github/actions/coverage/**'
      - 'packages/dart/**'
      - 'packages/sqflite/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    name: '${{ matrix.target }} | ${{ matrix.sdk }}'
    runs-on: ${{ matrix.target == 'linux' && 'ubuntu' || matrix.target }}-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        target: [macos, linux, windows]
        sdk: [stable, beta]

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v2

      - name: Install libsqlite3
        if: matrix.target == 'linux'
        run: sudo apt-get -y install libsqlite3-dev

      - uses: ./.github/actions/flutter-test
        with:
          directory: packages/sqflite

      - uses: ./.github/actions/coverage
        if: matrix.target == 'linux' && matrix.sdk == 'stable'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: packages/sqflite
          coverage: sentry_sqflite
          min-coverage: 80

  analyze:
    uses: ./.github/workflows/analyze.yml
    with:
      package: packages/sqflite
      sdk: flutter
