name: Upload to Testflight
on:
  push:
    branches:
      - main
      - release/**
  pull_request:
    paths:
      - '.github/workflows/testflight.yml'
  workflow_dispatch:

jobs:
  upload_to_testflight:
    name: Build and Upload to Testflight
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v5
      - uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # pin@v2.21.0
      - run: xcodes select 16.3
      - uses: ruby/setup-ruby@d354de180d0c9e813cfddfcbdc079945d4be589b # pin@v1.275.0
        with:
          ruby-version: '2.7.5'
          bundler-cache: true

      - name: flutter
        working-directory: ./packages/flutter/example
        run: |
          flutter pub get
          flutter build ios --no-codesign --obfuscate --split-debug-info=.

      - name: Install Fastlane
        working-directory: ./packages/flutter/example/ios
        run: bundle install

      - name: Bump, Build & Upload App to TestFlight
        working-directory: ./packages/flutter/example/ios
        env:
          APP_STORE_CONNECT_KEY_ID: ${{ secrets.APP_STORE_CONNECT_KEY_ID }}
          APP_STORE_CONNECT_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_ISSUER_ID }}
          APP_STORE_CONNECT_KEY: ${{ secrets.APP_STORE_CONNECT_KEY }}
          FASTLANE_BUNDLE_VERSION: ${{ github.run_number }}
          FASTLANE_KEYCHAIN_PASSWORD: ${{ secrets.FASTLANE_KEYCHAIN_PASSWORD }}
          MATCH_GIT_PRIVATE_KEY: ${{ secrets.MATCH_GIT_PRIVATE_KEY }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          MATCH_USERNAME: ${{ secrets.MATCH_USERNAME }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_LOG_LEVEL: DEBUG
        run: |
          bundle exec fastlane bump_build_number
          bundle exec fastlane build_release
          bundle exec fastlane upload_testflight

      - name: Upload Symbols to Sentry
        working-directory: ./packages/flutter/example
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        run: flutter packages pub run sentry_dart_plugin
