name: Update Dependencies

on:
  # Run every day.
  schedule:
    - cron: "0 3 * * *"
  # And on every PR merge so we get the updated dependencies ASAP, and to make sure the changelog doesn't conflict.
  push:
    branches:
      - main

permissions:
  contents: write      # To modify files and create commits
  pull-requests: write # To create and update pull requests
  actions: write       # To cancel previous workflow runs

jobs:
  android:
    runs-on: ubuntu-latest
    steps:
      - uses: getsentry/github-workflows/updater@v3
        with:
          path: packages/flutter/scripts/update-android.sh
          name: Android SDK
          api-token: ${{ secrets.CI_DEPLOY_KEY }}

  cocoa:
    runs-on: macos-latest
    steps:
      - uses: getsentry/github-workflows/updater@v3
        with:
          path: packages/flutter/scripts/update-cocoa.sh
          name: Cocoa SDK
          api-token: ${{ secrets.CI_DEPLOY_KEY }}

  js:
    runs-on: ubuntu-latest
    steps:
      - uses: getsentry/github-workflows/updater@v3
        with:
          path: packages/flutter/scripts/update-js.sh
          name: JavaScript SDK
          api-token: ${{ secrets.CI_DEPLOY_KEY }}

  native:
    runs-on: ubuntu-latest
    steps:
      - uses: getsentry/github-workflows/updater@v3
        with:
          path: packages/flutter/scripts/update-native.sh
          name: Native SDK
          api-token: ${{ secrets.CI_DEPLOY_KEY }}

  metrics-flutter:
    runs-on: ubuntu-latest
    steps:
      - uses: getsentry/github-workflows/updater@v3
        with:
          path: metrics/flutter.properties
          name: Flutter SDK (metrics)
          changelog-entry: false
          api-token: ${{ secrets.CI_DEPLOY_KEY }}

  symbol-collector:
    runs-on: ubuntu-latest
    steps:
      - uses: getsentry/github-workflows/updater@v3
        with:
          path: scripts/update-symbol-collector.sh
          name: Symbol collector CLI
          changelog-entry: false
          api-token: ${{ secrets.CI_DEPLOY_KEY }}
