name: Flutter Web Example GH-Pages

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    env:
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v2
      - uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # pin@v2.21.0
      - uses: bluefireteam/flutter-gh-pages@cf4a9312849577dbfd9df8f3d63d12ef6b09898e # pin@v9
        with:
          workingDir: packages/flutter/example
          customArgs: --source-maps
          webRenderer: canvaskit
          baseHref: "/sentry-dart/"

      - name: Upload source maps
        run: |
          cd packages/flutter/example
          flutter pub get
          dart run sentry_dart_plugin
