name: Flutter Web Example GH-Pages

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-24.04
    timeout-minutes: 30

    env:
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}

    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@f2c4f6686ca8e8d6e6d0f28410eeef506ed66aff # pin@v2.18.0
      - uses: bluefireteam/flutter-gh-pages@57815b17b371455ec1a98f075b71b4c6ba0a938c # pin@v8
        with:
          workingDir: flutter/example
          customArgs: --source-maps
          webRenderer: canvaskit
          baseHref: '/sentry-dart/'

      - name: Upload source maps
        run: |
          cd flutter/example
          flutter pub get
          dart run sentry_dart_plugin
